*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html {
  height: 100%; }

body {
  font-family: Georgia;
  font-size: 16px;
  line-height: 1;
  margin: 0;
  padding: 0;
  overflow: hidden; }
  body.theme--black {
    background-color: black;
    color: white; }
    body.theme--black #input {
      background-color: transparent; }
      body.theme--black #input input {
        border-color: white;
        color: white; }
        body.theme--black #input input::-webkit-input-placeholder {
          color: rgba(255, 255, 255, 0.2); }
        body.theme--black #input input::-moz-placeholder {
          color: rgba(255, 255, 255, 0.2); }
        body.theme--black #input input:-moz-placeholder {
          color: rgba(255, 255, 255, 0.2); }
        body.theme--black #input input:-ms-input-placeholder {
          color: rgba(255, 255, 255, 0.2); }
      body.theme--black #input.expanded {
        background-color: black; }
    body.theme--black .slide {
      background-color: black; }
  body.theme--white {
    background-color: white;
    color: black; }
    body.theme--white #input {
      background-color: rgba(255, 255, 255, 0); }
      body.theme--white #input input {
        border-color: black;
        color: black; }
        body.theme--white #input input::-webkit-input-placeholder {
          color: rgba(0, 0, 0, 0.2); }
        body.theme--white #input input::-moz-placeholder {
          color: rgba(0, 0, 0, 0.2); }
        body.theme--white #input input:-moz-placeholder {
          color: rgba(0, 0, 0, 0.2); }
        body.theme--white #input input:-ms-input-placeholder {
          color: rgba(0, 0, 0, 0.2); }
      body.theme--white #input.expanded {
        background-color: white; }
    body.theme--white .slide {
      background-color: white; }

a {
  text-decoration: underline;
  color: white; }

#input {
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: auto;
  left: 0px;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  padding-top: 1rem;
  text-align: center;
  max-height: 20%; }
  #input form {
    display: block;
    width: 100%; }
  #input input {
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    transition: all 0.2s linear;
    display: inline-block;
    font-size: 2em;
    outline: none;
    padding: 5px;
    width: 40%;
    background-color: transparent;
    border-radius: 0;
    border-style: solid;
    border-width: 0 0 2px 0;
    text-align: center; }
  #input.expanded {
    -webkit-transition-timing-function: ease-out;
    -moz-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    min-height: 100%; }
    #input.expanded input {
      width: 80%;
      font-size: 6em;
      border-bottom-width: 5px; }

.slide {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  width: 1920px;
  height: 1080px;
  text-align: center;
  font-size: 6em;
  -webkit-font-smoothing: antialiased;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 25% center; }
  .slide p {
    text-shadow: 0 3px 0 black; }

/*# sourceMappingURL=main.css.map */
