@import '../../bower_components/bourbon/app/assets/stylesheets/bourbon';

@mixin theme(
  $colorA: black,
  $colorB: white
) {
  background-color: $colorA;
  color: $colorB;

  #input {
    background-color: rgba($colorA, 0);

    input {
      border-color: $colorB;
      color: $colorB;

      @include placeholder {
        color: rgba($colorB, 0.2);
      }
    }

    &.expanded {
      background-color: $colorA;
    }
  }

  .slide {
    &[data-type="text"] {
      background-color: $colorA;
    }
  }  
}

*, *:after, *:before {
  @include box-sizing(border-box);
}

html {
  height: 100%;
}
body {
  font-family: Georgia;
  font-size: 16px;
  line-height: 1;

  margin: 0;
  padding: 0;
  overflow: hidden;

  &.theme {
    &--black {
      @include theme(black, white);
    }

    &--white {
      @include theme(white, black);
    }
  }
}

a {
  text-decoration: underline;
  color: white;
}

#input {
  @include transition(all 0.2s linear);

  @include position(absolute, 0px 0px auto 0px);

  display: flex;
  align-items: center;
  justify-content: center;

  padding-top: 1rem;
  text-align: center;

  max-height: 20%;

  form {
    display: block;
    width: 100%;
  }

  input {
    @include transition(all 0.2s linear);

    display: inline-block;

    font-size: 2em;
    outline: none;

    padding: 5px;
    width: 40%;

    background-color: transparent;

    border-style: solid;
    border-width: 0 0 2px 0;

    text-align: center;
  }

  &.expanded {
    min-height: 100%;

    input {
      width: 80%;

      font-size: 6em;
      border-bottom-width: 5px;
    }
  }
}

.slide {
  width: 1920px;
  height: 1080px;

  display: flex;
  align-items: center;
  justify-content: center;

  &[data-type="text"] {
    font-size: 6em;

    text-align: center;

    -webkit-font-smoothing: antialiased;
  }
}
.slide-container {
}
